@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* this '*' symbol will change all element of html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body color changes to antiquewhite */
#bucket {
    background-color: antiquewhite;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#nav {
    font-family: 'ubuntu', sans-serif;
}

#nav ul {
    background: black;
    height: 10vh;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

#nav ul li {
    padding: 0 2vh;
}

.brand img {
    width: 10vh;
    padding: 0 2vh;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    height: calc(100vh - 25vh);
    background-color: black;
    color: white; 
    margin: 1vh;
    border-radius: 2vw;
    padding: 1vw;
    background-image: url('bg.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Varela Round', sans-serif;
}

.bottom {
    min-height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    width: 100vw;
}

#myProgressBar {
    width: 85%;
    cursor: pointer;
}

.icons i {
    cursor: pointer;
    font-size: 1.5em;
}

.songItem {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 34px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 12px 0;
}

.songItem img {
    width: 30px;
    margin: 0 23px;
    border-radius: 34px;
}

.songList {
    margin-top: 2px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    width: 80%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.5vh;
}

.songInfo img {
    height: 10px;
    width: 12px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.songItemPlay{
    margin-left: 3px;
}

.songItemContainer {
    max-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 12vw;
}

#masterSongName{
    font-size: 1em;
}

#gif{
    height: 3vh;
    width: 5vw;
}

/* small devices */
@media screen and (max-width:299px) {
    .songItem {
        margin: 12px -19px;
        width: 90vw;
        justify-content: space-around;
    }

    .container {
        background-position: top;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }

    .songItemContainer{
        margin-left: 0;
    }

    .songName{
        font-size: 0.8rem;
    }

    .timestamp {
        font-size: 0.7rem;
        width: 10vw;
    }

    .timestamp i{
        font-size: 0.8rem;
    }

    .songItemPlay{
        margin-left: 0px;
    }
}

/* mobile devices */
@media screen and (min-width:300px) and (max-width:600px) {
    .songItem {
        margin: 12px -19px;
    }

    .container {
        background-position: top;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }

    .songItemContainer{
        margin-left: 0;
    }
}

/* ipad screen width devices */
@media only screen and (min-width: 601px) and (max-width: 1025px) {
    .songItemContainer {
        height: 50vh;
        width: 100%;
        margin: 2vw;
    }

    .container .songList {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .brand img {
        width: 5vh;
        padding: 0 1vh;
    }

    #nav ul li {
        padding: 0 2vw;
    }

    .brand {
        font-size: 3vh;
    }

    .container {
        background-position: bottom;
        background-size: 100vh;
        height: 75vh;
    }

    .bottom .icons i {
        font-size: 2rem;
    }

    #masterSongName{
        font-size: 1rem;
    }

    .songName{
        font-size: 1rem;
    }

    .songItem {
        justify-content: space-between;
        height: 10%;
    }
    
    .timestamp {
        font-size: 1rem;
        width: 10vw;
    }

    .timestamp i{
        font-size: 1em;
    }

    .songItem img {
        width: 30px;
        margin: 0 23px;
        border-radius: 34px;
    }
}